<h2>{{User ? 'Edit' : 'Register'}}</h2>
<form (submit)="User ? editUser() : registerUser()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" [(ngModel)]="name" id="name" name="name" value="" [placeholder]="User ? User.name : 'Enter name...'">
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" class="form-control" [(ngModel)]="age" id="age" name="age" value="" [placeholder]="User ? User.age : 'Enter age...'">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" [(ngModel)]="email" id="email" name="email" value="" [placeholder]="User ? User.email : 'Enter email...'">
    </div>
    <div class="form-group">
      <label for="pass">Password:</label>
      <input type="password" class="form-control" [(ngModel)]="password" id="pass" name="password" value="" [placeholder]="User ? '' : 'Enter password...'">
    </div>
    <div class="form-group">
      <label for="conPass">Confirm password:</label>
      <input type="password" class="form-control" [(ngModel)]="conPass" id="conPass" name="conPass" value="" [placeholder]="User ? '' : 'Enter password...'">
    </div>
    <button type="submit" class="btn btn-outline-primary" name="button">{{User ? 'Edit' : 'Click'}}</button>
</form>
