<h1>Login page</h1><br>

<form (submit)="loginUser()">
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" placeholder="Password">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
