<h2>Home Page</h2>
<br><br>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; let i = index" id="pointer" [attr.data-index]="i" (click)="showButton(i)">
      <td>{{i+1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>

<div [hidden]="!clicked" class="mobBtn">
  <button type="button" class="btn btn-warning btn-sm" (click)="editUserFields()" name="button">Edit</button>
  <button type="button" class="btn btn-danger btn-sm" (click)="deleteUser()" name="button">Delete</button>
</div>

<app-register [hidden]="edit" [User]="user" (onEmit)="emitter($event)"></app-register>
